html{
  scroll-behavior: smooth;
}
body {
  background-color: rgba(23,39,52,255);
  color: white;
}


.personal_pic {
  border-radius: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  width: 100px;
}
#soc_icons {
  text-align: center; 
  width: 100%; 
}
#soc_icons a {
  padding: 5px;
}
header p {
  font-size: 25px;
}
.education {
  font-size: 33px;
  text-align: center;
  height: 165px;
  color: white;
  background-color: rgba(61,136,203,255);
  border-radius: 70px;
  margin-top: 16px;
}
.education p {
  font-size: 25px;
}
#container {
  font-size: 33px;
  text-align: center;
  color: white;
  margin-top: 16px;
  background-color: rgba(61,136,203,255);
  border-radius: 70px;
}

.projects {
  font-size: 25px;
  text-align: center;
  height: 900px;
  color: white;
  background-color: rgba(61,136,203,255);
  padding-top: 30px;
  margin-top: 16px;
  border-radius: 70px;
}

.api {
  color: white;
  font-size: 25px;
}

h1, p {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline;
  font-size: 30px;
  margin-right: 40px;
}
li a, .fa {
  color: white;
  text-decoration: none;
}

.contact {
  font-size: 33px;
  text-align: center;
  height: 165px;
  color: white;
  background-color: rgba(61,136,203,255);
  border-radius: 70px;
  padding-top: 9px;
  margin-top: 16px;
}
.contact li {
  font-size: 25px;
}

@media screen and (max-width: 445px) {

  li {
    display: inline;
    font-size: 20px;
    
  }
  header p {
    font-size: 20px;
  }

  .education{
    text-align: center;
      width: auto;
      height: 130px;
      background-color: rgba(61,136,203,255);
      font-size: 15px;
      color: white;
      padding-top: 9px;
      padding-bottom:9px;
      border-radius: 70px;
  }
  .education p {
    font-size: 18px;
  }
  #container {
    font-size: 15px;
    text-align: center;
    color: white;
    padding-top: 9px;
    margin-top: 16px;
    background-color: rgba(61,136,203,255);
    border-radius: 70px;
  
  }
  .projects{
    text-align: center;
      margin-top: 16px;
      padding: 3px;
      height: 150px;
      width: auto;
      font-size: 15px;
      color:white;
      background-color: rgba(61,136,203,255);
      border-radius: 70px;

  }
  .api {
    color: white;
    font-size: 18px;
  }
  
  .contact{
    text-align: center;
    width: auto;
    height: 100px;
    background-color: rgba(61,136,203,255);
    font-size: 15px;
    color: white;
    padding-top: 9px;
    margin-top: 16px;
    border-radius: 70px;
}

.contact p {
  text-align: center;
  font-size: 18px;
  }
}