body {
  background-color: #05757f;
  color: white;
}

.projects {
  font-size: 33px;
  text-align: center;
  height: 100px;
  background-color: orange;
}

.experience {
  font-size: 33px;
  text-align: center;
  height: 100px;
  background-color: bisque;
}
h1,
p {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline;
  font-size: 30px;
  margin-right: 40px;
}
a {
  color: white;
  text-decoration: none;
}

form {
  text-align: center;
}

label {
  font-size: 21px;
}

input,
button {
  margin-top: 5px;
  float: inline-start;
  border-radius: 0.8em;
}
